/*
font-family: 'Ubuntu', sans-serif;
*/

html {
	font-size: 12pt;
	background: url(../images/bg2.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

body {
	background-color: rgba(0, 0, 0, 0);
}

.main {
	margin-top: 2rem;
}

.middleCol {
	background-color: rgba(255, 255, 255, .13);
	border-radius: 1rem;
	border-bottom: .13rem solid white;
	border-right: .13rem solid white;
	border-top: .05rem solid #CFD8DC;
	border-left: .05rem solid #CFD8DC;
}

.titleHeader {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
}

.calcDisplay {
	text-align: right;
	height: 4rem;
	font-family: 'Ubuntu', sans-serif;
	font-size: 3rem;
	font-weight: lighter;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: .13rem solid black;
}